<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.SignMapper">

  <insert id="signup" parameterType="net.skhu.dto.SignUpDto">
  	insert into student (name, studentId, pw)
  	values ( #{studentName}, #{studentNumber}, #{password}) 
  </insert>
  
  <select id="adminLogin" parameterType="java.util.HashMap" resultType="net.skhu.VO.Admin">
  	select * from admin where adminId = #{usernumber} and pw = #{pass}
  </select>
  
  <select id="studentLogin" parameterType="java.util.HashMap" resultType="net.skhu.VO.Student">
  	select s.*, d.dname from student s left join department d on s.departmentId=d.id
    where studentId = #{usernumber} and pw = #{pass}
  </select>
  
  
  <update id="studentChange" parameterType="net.skhu.VO.Student">
  	UPDATE student SET 
    pw= #{pw}
    WHERE studentId = #{studentId}
  </update>
  	
  
</mapper>